# only README.md in specific folders to show users these folders should be here
**/data/
!**/data/README.md
**/projects/
!**/projects/README.md

# no files with prefixes z_ or zx_
**/z_*
**/zx_*

# no MATLAB .asv
**/*.asv 

# no shortcut files
**/*.lnk

# no R project files
**/.Rproj.user
**/*.proj